Flask
gunicorn
flask
transformers
torch
PyPDF2
Pandas
PyPDF2
Flask
torch
transformers
PyPDF2
joblib
Flask
torch
joblib
numpy
pandas
tqdm
scikit-learn
transformers
Flask
torch
joblib
numpy
pandas
tqdm
scikit-learn
transformers
spacy
scipy
pysbd
medspacy
unidecode
Flask
torch
joblib
numpy==1.23.0
pandas
tqdm
scikit-learn
transformers
spacy==3.4.0
scipy
pysbd
medspacy
unidecode